:root {
  --color-secondary: #159eec;
  --color-accent: #bfd2f8;
  --color-primary: #1f2b6c;
  --color-black: #212124;
  --color-white: #fcfefe;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: var(--color-black);
}

/* General CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 992px;
  margin: 0 auto;
}
/* img {
  width: 100%;
} */
a {
  text-decoration: none;
  color: inherit;
}
.active {
  color: var(--color-accent);
  font-weight: 600;
}

/* ICON CSS */
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* text */
.text--secondary {
  color: var(--color-secondary);
}

.icon--phone {
  width: 40.198px;
  height: 38.19px;
  background-image: url("../images/icons/phone.png");
}
.icon--location {
  width: 40.198px;
  height: 38.19px;
  background-image: url("../images/icons/location.png");
}
.icon--clock {
  width: 30px;
  height: 36px;
  background-image: url("../images/icons/clock.png");
}
.icon--search {
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/search.png");
}

/* btn css */
.btn {
  background-color: var(--color-accent);
  padding: 13px 35px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  color: var(--color-primary);
}

/* topbar CSS */
.topbar {
  color: var(--color-primary);
  text-transform: uppercase;
}

.topbar > * {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

/* logo top */
.topbar__logo {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 36px;
}
.topbar__logo span {
  color: var(--color-secondary);
}

.topbar__info {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

/* info icon */
.topbar__info > * {
  display: flex;
  gap: 10px;
}

.topbar__info > * p:last-child {
  text-transform: capitalize;
}
/* navbar CSS */
.navbar {
  background-color: var(--color-primary);
}

.navbar > * {
  display: flex;
  padding: 17px 0;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  color: white;
  text-transform: capitalize;
}
.navbar__feature {
  display: flex;
  align-items: center;
  gap: 30px;
}

.banner {
  background-image: url("../images/banner/banner.png");
  /* width: 100%; */
  height: 550px;
  background-size: cover;

  /* padding: 167px 661px 167px 186px; */
}

.banner > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner__content__row1 {
  color: var(--color-secondary);
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.88px;
}
.banner__content__row2 {
  color: var(--color-primary);
  font-family: "Yeseva One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
}
.banner__content__btn {
  margin-top: 32px;
}

.card {
  padding: 25px 20px;
  border-radius: 5px;
  display: flex;
  /* border: 1px solid black; */
  color: white;
  align-items: center;
}

.bg--primary {
  background-color: var(--color-primary);
  /* display: flex; */
}
.bg--accent {
  background-color: var(--color-accent);
}
.bg--secondary {
  background-color: var(--color-secondary);
}
.icon--calendar {
  width: 50px;
  height: 50px;
  background-image: url("/images/icons/calendar.png");
}
.icon--team {
  width: 50px;
  height: 50px;
  background-image: url("/images/icons/team.png");
}
.icon--cash {
  width: 50px;
  height: 50px;
  background-image: url("/images/icons/cash.png");
}

#booking {
  display: flex;
  gap: 20px;
  position: relative;
  top: -50px;
}
#booking .card {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
#about {
  text-align: center;
}
#about p {
  font-family: "Work Sans";
}
#about .p1 {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin: 64px 0 8px 0;
}
#about .p2 {
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  /* margin-bottom: 32px; */
  width: 650px;
  margin: 0 auto;
  margin-bottom: 32px;
}
#about h2 {
  font-family: "Yeseva One";
  color: var(--color-primary);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 15px;
}
.vector {
  vertical-align: middle;
  margin-bottom: 61px;
}
.vector a {
  color: var(--color-secondary);
}
/* .vector i {
  background-image: url(/images/icons/vector.png);
  color: var(--color-primary);
} */
.icon--vector {
  width: 10px;
  height: 10px;
  background-image: url(/images/icons/vector.png);
}
